\documentclass[a5paper,10pt]{memoir}
% Packages
\usepackage[nobottomtitles]{titlesec}
\usepackage{fontspec}
\setmainfont{TeX Gyre Pagella} %palatino clone
\usepackage{microtype}
\usepackage[british, latin]{babel}
% local
\usepackage{rubrics}
\usepackage{styling}
\usepackage{titlepage}
% Config
\copypagestyle{versionplain}{plain}
\newcommand{\version}{\tiny Release: [[version]] (template [[_commit]])}
\makeevenfoot{versionplain}{\thepage}{}{\version}
\makeoddfoot{versionplain}{\version}{}{\thepage}
\pagestyle{versionplain}
\thispagestyle{empty}
% =========
% per-document styling: we don't set this in `styling.sty' as we might want
% different layouts.
% =========
% layout
\setulmarginsandblock{0.5in}{0.7in}{*}
\setlrmarginsandblock{0.5in}{0.5in}{*}
\checkandfixthelayout
% headers
\setsecnumdepth{chapter}
\setsecheadstyle{\Large\scshape\raggedright\centering}
\setsubsubsecheadstyle{\color{red}\large\scshape\raggedright\centering}
\setparaheadstyle{\color{red}\large\raggedright\centering}
\setafterparaskip{1.5ex plus .2ex}
\setlength{\parskip}{\medskipamount}
\setlength{\parindent}{0em}
\midsloppy

\input{propers}
\input{vernacular}

\begin{document}
\selectlanguage{latin}

\titlePage{Sacra Missa}{\masstype}{\feast}{[[-img_file-]]}

% [% if asperges %]
\section{Asperges}
\red{\whenStart}
\gregorioscore{\aspergesPath}
\black{
  \l{\v\ Osténde nobis, Dómine, misericórdiam tuam. [% if asperges == 'vidi-aquam' %]Alleluia[% endif %] }
  \e{\v\ \trOstende[% if asperges == 'vidi-aquam' %]Alleluia[% endif %] }
  \l{\r\ Et salutáre tuum da nobis.[% if asperges == 'vidi-aquam' %]Alleluia[% endif %] }
  \e{\r\ \trEtSalutare[% if asperges == 'vidi-aquam' %]Alleluia[% endif %] }
  \domineexaudi
  \dominusvobiscum
  \oremus
  \l{%
    Exáudi nos, Dómine sancte, Pater omnípotens, ætérne Deus, et míttere
    dignéris sanctum Angelum tuum de cælis, qui custódiat, fóveat, prótegat,
    vísitet atque deféndat omnes habitántes in hoc habitáculo. Per Christum
    Dóminum nostrum.
  }
  \e{\trExaudiNos}
  \amen
}
% [% endif %]

% [% if rite == 'dominican' %]
\section{Officium}
% [% if asperges %]
\red{\whenPostAsperges}
% [% else %]
\red{\whenStart}
% [% endif %]
\gregorioscore{introit}
\oneColumnTranslation{\officeTranslation}
% [% else %]
\section{Introitus}
% [% if asperges %]
\red{\whenPostAsperges}
% [% else %]
\red{\whenStart}
% [% endif %]
\gregorioscore{introit}
\oneColumnTranslation{\introitTranslation}
% [% endif %]

\section{Kyrie}
\red{\whenKyrie}
\gregorioscore{\kyriePath}

% [% if gloria %]
\section{Gloria}
\red{\whenGloria}
\gregorioscore{\gloriaPath}
% [% endif %]

\section{Oratio}
\gregorioscore{\dominusVobiscumPath}
\black{
  \oremus
  \collect
}
\gregorioscore{\amenPath}

\section{Lectio}
\red{\thenLesson}
\black{\lesson}

% [% if gradual %]
% [% if rite == 'dominican' %]
\section{Responsorium}
% [% else %]
\section{Graduale}
% [% endif %]
\red{\whenGradual}
\gregorioscore{gradual}
% [% else %]
\section{Alleluia}
% [% endif %]
% [% if alleluia %]
\gregorioscore{[[ alleluia ]]}
% [% endif %]
% [% if rite == 'dominican' %]
\oneColumnTranslation{\responsoryTranslation}
% [% else %]
\oneColumnTranslation{\gradualTranslation}
% [% endif %]

% [% if sequentia %]
\section{Sequentia}
\red{\whenSequence}
\gregorioscore{sequentia}
\oneColumnTranslation{\sequentiaTranslation}
% [% endif %]

\section{Evangelium}
\red{\whenGospel}
\gregorioscore{\dominusVobiscumPath}
\gregorioscore{\sequentiPath}
\black{\gospel}

% [% if creedp %]
\section{Credo}
\red{\whenCreed}
\gregorioscore{\creedPath}
% [% endif %]

\section{Ante Offertorium}
\red{\whenPreOffertory}
\gregorioscore{\dominusVobiscumPath}

\section{Offertorium}
\red{\whenOffertory}
\gregorioscore{offertory}
\oneColumnTranslation{\offertoryTranslation}

\red{\thenMotet}

\section{Secreta}
\black{\secret}

\section{Præfatio}
\gregorioscore{\prefacePath}

\section{Sanctus et Benedictus}
\red{\whenSanctus}
\gregorioscore{\sanctusPath}

\section{Amen}
\gregorioscore{\amenPath}

\section{Pater Noster}
\red{\whenPater}
\gregorioscore{\sedLiberaNosPath}

\section{Pax Domini}
\gregorioscore{\paxDominiPath}

\section{Agnus Dei}
\red{\whenAgnus}
\gregorioscore{\agnusPath}

\section{Communio}
\red{\whenCommunion}
\gregorioscore{communion}
\oneColumnTranslation{\communionTranslation}

\red{\thenMotet}

\section{Postcommunio}
\gregorioscore{\dominusVobiscumPath}
\black{
  \oremus
  \postcommunion
}
\gregorioscore{\amenPath}

\section{Conclusio}
\gregorioscore{\dominusVobiscumPath}
\gregorioscore{\itePath}

% [% if marian %]
\section{Antiphona BMV}
\red{\whenMarian}
\gregorioscore{\marianPath}
\marianResp
% [% endif %]

\red{\thenMotet}
\begin{center}
  \+
\end{center}


\theFooter

\end{document}

%%% Local Variables:
%%% mode: latex
%%% TeX-engine: luatex
%%% End:
