\documentclass[a5paper,10pt]{memoir}
% Packages
\usepackage[nobottomtitles]{titlesec}
\usepackage{fontspec}
\setmainfont{TeX Gyre Pagella} %palatino clone
\usepackage{microtype}
\usepackage[british, latin]{babel}
% local
\usepackage{rubrics}
\usepackage{styling}
% Config
\copypagestyle{versionplain}{plain}
\newcommand{\version}{\tiny Release: [[version]] (template [[_commit]])}
\makeevenfoot{versionplain}{\thepage}{}{\version}
\makeoddfoot{versionplain}{\version}{}{\thepage}
\pagestyle{versionplain}
\thispagestyle{empty}
% layout
\setulmarginsandblock{0.5in}{0.7in}{*}
\setlrmarginsandblock{0.5in}{0.5in}{*}
\checkandfixthelayout
% headers
\setsecnumdepth{chapter}
\setsecheadstyle{\Large\scshape\raggedright\centering}
\setafterparaskip{1.5ex plus .2ex}
\setlength{\parindent}{0em}
\midsloppy

\begin{document}

\input{propers}
\input{vernacular}

\begin{center}
  {\LARGE \masstype}

  ~

  {\Large\scshape \feast}

  \greseparator{2}{10}
\end{center}

% [% if rite == 'dominican' %]
\section{Officium}
\black{
  \l{\office}
  \e{\officeTranslation}
}
% [% else %]
\section{Introitus}
\black{
  \l{\introit}
  \e{\introitTranslation}
}
% [% endif %]

\section{Oratio}
\black{\collect}

\section{Lesson}
\black{\lesson}

% [% if rite == 'dominican' %]
\section{Responsorium}
\black{
  \l{\responsory}
  \e{\responsoryTranslation}
}
% [% else %]
\section{Graduale}
\black{
  \l{\gradual}
  \e{\gradualTranslation}
}
% [% endif %]
% [% if sequentia %]
\section{Sequentia}
\black{
  \l{\sequentia}
  \e{\sequentiaTranslation}
}
% [% endif %]

\section{Evangelium}
\black{\gospel}

\section{Offertorio}
\black{
  \l{\offertory}
  \e{\offertoryTranslation}
}

\section{Communio}
\black{
  \l{\communion}
  \e{\communionTranslation}
}

\section{Postcommunio}
\black{\postcommunion}

% [% if marian %]
\section{Antiphona BMV}
\red{\whenMarian}
\gregorioscore{\marianPath}
\marianResp
% [% endif %]

\vfill
\red{\thenMotet}
\begin{center}
  \+
\end{center}


\theFooter

\end{document}

%%% Local Variables:
%%% mode: latex
%%% TeX-engine: luatex
%%% End:
