% This file defines the propert to be inserted into missalette.tex  In this way
% multiple feasts can be typeset very quickly.  missalette.tex should not normally
% need changing.  Note that this is not the most readable way to insert text
% into a LaTeX document, but it is the most powerful: the macros defined here
% are directly excecuted when building the document.

% For the title page
\newcommand{\feast}{ [[-feast_name-]] }
\newcommand{\masstype}{ [[mass_type]]%
  % [% if rite == 'dominican' %]
  Iuxta Ritum Dominicanum%
  % [% endif %]%
}
% [% if rite == 'dominican' %]
\newcommand{\office}{%
}
\newcommand{\officeTranslation}{%
}
% [% else %]
\newcommand{\introit}{%
}
\newcommand{\introitTranslation}{%
}
% [% endif %]
\newcommand{\collect}{%
  \l{%
  }
  \e{%
  }
  \per
}
\newcommand{\lesson}{%
  \l{%
  }
  \e{%
  }
}

% [% if rite == 'dominican' %]
\newcommand{\responsory}{%
}
\newcommand{\responsoryTranslation}{%
}
% [% else %]
\newcommand{\gradual}{%
}
\newcommand{\gradualTranslation}{%
}
% [% endif %]
% [% if sequentia %]
\newcommand{\sequentia}{%
}
\newcommand{\sequentiaTranslation}{%
}
% [% endif %]
\newcommand{\gospel}{%
  \l{%
  }
  \e{%
  }
}
\newcommand{\offertory}{%
}
\newcommand{\offertoryTranslation}{%
}
\newcommand{\secret}{%
  \l{%
  }
  \e{%
  }
  \per
}
\newcommand{\communion}{%
}
\newcommand{\communionTranslation}{%
}
\newcommand{\postcommunion}{%
  \l{%
  }
  \e{%
  }
  \per
}

% File paths: we don't use symlinks as (a) not all platforms support them, and
% (b) they don't fit nicely with the flow we're using.

[% for fn in ["kyrie", "gloria", "sanctus", "agnus", "ite"] if fn %]
\newcommand{\[[fn]]Path}{[[masses_path]]/[[mass_setting]]/[[fn]]}
[% endfor %]
[% if creedp %]
\newcommand{\creedPath}{[[creed_path]]/[[creed]]/credo}
[% endif %]
[% for fn in ["amen", asperges, "dominus-vobiscum", "pax-domini", "preface_" ~ preface, "sed-libera-nos", "sequenti"] if fn %]
\newcommand{\[[fn.split('_')[0]|title|replace('-', '')|replace(fn[0].upper(), fn[0])]]Path}{[[common_tones_path]]/[[rite]]/[[fn]]}
[% endfor %]
[% if marian %]
\newcommand{\marianPath}{[[marian_path]]/[[rite]]/[[marian_type]]}
\input{[[marian_path]]/[[marian_type]]_resp}
[% endif %]
%%% Local Variables:
%%% mode: latex
%%% TeX-master: "missalette"
%%% End:
